@include media-mobile{
    .card{
        width: 24em;
        background-image: url('../images/bg-pattern-mobile.svg');
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: 70%;

        header{
            #img-desktop{
                display: none;
            }
            
            #box{
                display: none;
            }

        }

        section{

            h1{
                text-align: center;
            }

            .item{
                padding: 0 1.75rem;
            }
        }
    }
}



@include media-desktop{
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 60vw;
        padding: 3rem 0;
        background: url('../images/bg-pattern-desktop.svg');
        background-position: 570% 68%;
        background-repeat: no-repeat;

        header{
            height: 100%;

            .img-box{
                overflow: hidden;
            }

            #img-mobile{
                display: none;
            }
        }

        section{
            width: 65%;

            h1{
                text-align: left;
            }

            .item{
                padding: .65em 0;
            }
        }
    }
}